.box-layout {
    background: url('/images/bg_1.png');
    background-size: cover;
    color: $off-white;
    font-size: 20px;
    font-family: 'Lato', verdana, sans-serif;
    opacity: 0.5;
    overflow: hidden;
    min-height: 100vh;
    text-align: center;
    width: 100%;
}