.footer {
    background: -webkit-linear-gradient(#648880, #57531d);
    background:    -moz-linear-gradient(#648880, #57531d);
    background:         linear-gradient(#648880, #57531d);
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $dark-blue;
    text-align: center;
    overflow: hidden;
}