.footer {
    background: -webkit-linear-gradient(#648880, #57531d);
    background: -moz-linear-gradient(#648880, #57531d);
    background: linear-gradient(#648880, #57531d);
    color: $dark-blue;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
}
