.square {
    // display: flex;
    // // flex-wrap: wrap;
    // justify-content: space-around;
    // width: 50%;
    // padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    // padding-left: 10%;
    // margin-left: 10%;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
    // // white-space: nowrap;
    // // align-items: center;
    // // justify-content: space-around;

    display: flex;

    img {
        display: block;
        margin-left: 20px;
        margin-right: auto;
        width: 30%;
        border-radius: 25px;
    }

    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    overflow-wrap: normal;
}

.menu-txt {
    margin: 10px;
    font-size: 2rem;
    white-space: nowrap;
    // font-weight: bold;
}