.square {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;

    img {
        border-radius: 25px;
        border: 2px solid black;
        margin: 20px 20px;
        width: 20%;
        height: auto;
    }

    p {
        background: -webkit-linear-gradient(0deg, #4c4d4d, #abadab) no-repeat;
        background:    -moz-linear-gradient(0deg, #4c4d4d, #abadab) no-repeat;
        background:         linear-gradient(0deg, #4c4d4d, #abadab) no-repeat;
        border-radius: 20px;
        color:black;
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        opacity: 0.7;
        overflow-wrap: normal;
    }
}