.square {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin: 10px 10px 10px 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.menu-img {
    float: right;
}

.img_1-1{background-image:url('/images/Food_item_1.png');}
.img_1-2{background-image:url('/images/Food_item_2.jfif');}
.img_1-3{background-image:url('/images/Food_item_3.jpg');}

.img_2-1{background-image:url('/images/Food_item_4.jfif');}
.img_2-2{background-image:url('/images/Food_item_5.jfif');}
.img_2-3{background-image:url('/images/Food_item_6.jfif');}

.img_3-1{background-image:url('/images/Food_item_7.jpg');}
.img_3-2{background-image:url('/images/Food_item_8.jpg');}
.img_3-3{background-image:url('/images/Food_item_9.jpg');}