.header {
    background: $blue;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    background: rgb(236, 234, 234);
    background: -webkit-linear-gradient(#57531d, #648880);
    background:    -moz-linear-gradient(#57531d, #648880);
    background:         linear-gradient(#57531d, #648880);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $dark-blue;
    text-align: center;
    overflow: hidden;
}