.header {
    background: $blue;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    font-size: 20px;
    font-family: 'Lato',verdana, sans-serif;
    color: $grey;
    text-align: center;
    background: $off-white;
}