.menu-layout-container {
    background: lightgray;
    background: -webkit-linear-gradient(#fefffe, #4c4d4d);
    background:    -moz-linear-gradient(#fefffe, #4c4d4d);
    background:         linear-gradient(#fefffe, #4c4d4d);
    border-top: 1px solid grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.menu-layout-item {
    color: black;
    font-size: $font-size-large;
    font-weight: bold;
    padding: $s-size 0;
    text-decoration: none;
}