.slide-style {
    border: 10px solid darken($color: #9b9999a4, $amount: 0);
    border-radius: 25px;
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    width: 50%;

    @media (max-width: $desktop-breakpoint - 0.1rem) {
        margin-top: 25px;
        width: 300px;
    }
}

.slide-text {
    background: rgba(101, 104, 101, 0.5);
    color: rgb(10, 58, 73);
    display: flex;
    font-family: cursive;
    font-size: 10rem;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 10px;

    @media (max-width: $desktop-breakpoint - 0.1rem) {
        font-size: 4rem;
    }
}
