.text-homepage-header {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    h1 {
        color: rgba(0, 0, 0, 0.63);
        font-size: 50px;
    }

    p {
        color: $off-white;
        font-size: 20px;
    }
}

.contact-text-decor {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;

}