.text-homepage-header {
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    h1 {
        animation: right_to_left 3s ease;
        color: rgba(0, 0, 0, 0.8);
        font-size: 5rem;

        @keyframes right_to_left {
            from {
              margin-left: 100%;
            }
            to {
              margin-left: 0;
            }
          }
    }

    p {
        animation: left_to_right 3s ease;
        color: rgba(50, 50, 50, 0.9);
        font-size: 3rem;

        @keyframes left_to_right {
            from {
              margin-left: -100%;
            }
            to {
              margin-left: 0;
            }
          }
    }
}

.text-menupage-container {
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 1px;
  justify-content: center;
  overflow: hidden;
}

.text-menupage-h1-left {
  animation: left_to_right 3s ease;
  color: rgba(50, 50, 50, 0.9);
  font-size: 5rem;
  padding-right: 5px;

  @keyframes left_to_right {
      from {
        margin-right: -100%;
      }
      to {
        margin-right: 0;
      }
    }
}

.text-menupage-h1-right {
  animation: right_to_left 3s ease;
  color: rgba(50, 50, 50, 0.9);
  font-size: 5rem;
  padding-left: 5px;

  @keyframes right_to_left {
      from {
        margin-left: -100%;
      }
      to {
        margin-left: 0;
      }
    }
}

.contact-text-decor {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;

}